#keyboard-board
  - for (var i = 0; i< 12; i++) {
    - var classHighlight = highlightKeys[i] ? 'keyboard-key-highlight' : '';
    - var keyTopOrBottomList = [
    -   'bottom',
    -   'top',
    -   'bottom',
    -   'top',
    -   'bottom',
    -   'bottom',
    -   'top',
    -   'bottom',
    -   'top',
    -   'bottom',
    -   'top',
    -   'bottom'
    - ];
    - var classKeyTopOrBottom = 'keyboard-key-' + keyTopOrBottomList[i % 12]
    .keyboard-key(id="keyboard-key-#{i}", class=[classKeyTopOrBottom, classHighlight], data-index=i)
  - }
